.portfolio-item {
	display: block;
	position: relative;
	overflow: hidden;

}

.portfolio-item .caption {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: rgba(33, 37, 41, 0.2);
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
}

.portfolio-item .caption .caption-content {
	color: #fff;
	margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
	font-size: 0.8rem;
	text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
	font-weight: 300;
	font-size: 1.2rem;
}

.col-lg-6 {
	padding: 0rem;
}
