/* --- Styles pour la page Home Portfolio --- */


.portfolio-item {
	display: block;
	position: relative;
	overflow: hidden;

}

.portfolio-item .caption {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: rgba(33, 37, 41, 0.2);
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
}

.portfolio-item .caption .caption-content {
	color: #fff;
	margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
	font-size: 0.8rem;
	text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
	font-weight: 300;
	font-size: 1.2rem;
}

/* Responsive */
@media(max-width: 991px){
	.portfolio-item{
		margin: 2rem 0rem;
	}
}
@media (min-width: 992px) {
	.portfolio-item {
		max-width: none;
		margin: 0;
	}
	.portfolio-item .caption {
		-webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
		-webkit-clip-path: inset(0px);
		clip-path: inset(0px);
	}
	.portfolio-item .caption .caption-content {
		transition: opacity 0.25s;
		margin-left: 5rem;
		margin-right: 5rem;
		margin-bottom: 5rem;
	}
	.portfolio-item img {
		-webkit-transition: -webkit-clip-path 0.25s ease-out;
		-webkit-clip-path: inset(-1px);
		clip-path: inset(-1px);
	}
	.portfolio-item:hover img {
		-webkit-clip-path: inset(2rem);
		clip-path: inset(2rem);
	}
	.portfolio-item:hover .caption {
		background-color: rgba(29, 128, 159, 0.9);
		-webkit-clip-path: inset(2rem);
		clip-path: inset(2rem);
	}
}

/* --- Barres de progression personnalisées --- */
.progress-wrap {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.progress-wrap h3 {
	font-size: 16px;
	display: block;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.progress-wrap h3 .name-left {
	float: left;
}
.progress-wrap h3 .value-right {
	float: right;
}

.progress {
	width: 100%;
	float: left;
	height: 5px;
	box-shadow: none;
}

.progress-bar {
	background-color: #2F3C4F;
	height: 5px;
	display: block;
	box-shadow: none;
}
.progress-bar.progress-bar-1 {
	background-color: #2980b9 !important;
}
.progress-bar.progress-bar-2 {
	background-color: #c0392b !important;
}
.progress-bar.progress-bar-3 {
	background-color: #d35400 !important;
}
.progress-bar.progress-bar-4 {
	background-color: #8e44ad !important;
}
.progress-bar.progress-bar-5 {
	background-color: #27ae60 !important;
}




/* --- Typed JS --- */

p .text-slider-items {
	display: none;
}


/* --- Bannière full sreen first home page --- */

.logo {
	width: 4.5em;

}

.download_btn {
	background-color: transparent;
	color: white !important;
	border-color: white;
}

.download_btn:hover {
	background-color: rgba(255,255,255,0.1);

}


#profil {

	border: solid black 0.125em;
	border-radius: 50%;

}

section.img-fullscreen {
	background-image: url("../images/back-2000.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	min-height: 600px;


}



.alpha {

	background-color: rgba(255,255,255,0.4);
	height: 100%;
}

#desc {

	color: black !important;

}

.banniere .container {
	padding-bottom: 8%;
	padding-top: 5%;
}

.banniere .container h1 {
	padding-top: 5%;
}

.banniere .container p {
	padding: 1%
}
