.portfolio-item {
	display: block;
	position: relative;
	overflow: hidden;

}

.portfolio-item .caption {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: rgba(33, 37, 41, 0.2);
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
}

.portfolio-item .caption .caption-content {
	color: #fff;
	margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
	font-size: 0.8rem;
	text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
	font-weight: 300;
	font-size: 1.2rem;
}
@media(max-width: 991px){
	.portfolio-item{
		margin: 2rem 0rem;
	}
}
@media (min-width: 992px) {
	.portfolio-item {
		max-width: none;
		margin: 0;
	}
	.portfolio-item .caption {
		-webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
		-webkit-clip-path: inset(0px);
		clip-path: inset(0px);
	}
	.portfolio-item .caption .caption-content {
		transition: opacity 0.25s;
		margin-left: 5rem;
		margin-right: 5rem;
		margin-bottom: 5rem;
	}
	.portfolio-item img {
		-webkit-transition: -webkit-clip-path 0.25s ease-out;
		-webkit-clip-path: inset(-1px);
		clip-path: inset(-1px);
	}
	.portfolio-item:hover img {
		-webkit-clip-path: inset(2rem);
		clip-path: inset(2rem);
	}
	.portfolio-item:hover .caption {
		background-color: rgba(29, 128, 159, 0.9);
		-webkit-clip-path: inset(2rem);
		clip-path: inset(2rem);
	}
}

.col-lg-6 {
	padding: 0rem;
}

.showcase {
	margin-top: 5rem;
}
.showcase .showcase-text {
	padding: 3rem;
}

.showcase .showcase-img {
	min-height: 30rem;
	background-size: cover;
}

@media (min-width: 768px) {
	.showcase .showcase-text {
		padding: 7rem;
	}
}

.logo {
	width: 4.5em;

}


.download_btn {
	background-color: transparent;
	color: white !important;
	border-color: white;
}

.download_btn:hover {
	background-color: rgba(255,255,255,0.1);

}


.progress-wrap {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.progress-wrap h3 {
	font-size: 16px;
	display: block;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.progress-wrap h3 .name-left {
	float: left;
}
.progress-wrap h3 .value-right {
	float: right;
}

.progress {
	width: 100%;
	float: left;
	height: 5px;
	box-shadow: none;
}

.progress-bar {
	background-color: #2F3C4F;
	height: 5px;
	display: block;
	box-shadow: none;
}
.progress-bar.progress-bar-1 {
	background-color: #2980b9 !important;
}
.progress-bar.progress-bar-2 {
	background-color: #c0392b !important;
}
.progress-bar.progress-bar-3 {
	background-color: #d35400 !important;
}
.progress-bar.progress-bar-4 {
	background-color: #8e44ad !important;
}
.progress-bar.progress-bar-5 {
	background-color: #27ae60 !important;
}

ul.social-buttons {
	float: right;
	margin-bottom: 0;
	text-align: center;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

ul.social-buttons li a.twitter {
	border: 2px solid #55acee;
	color: #55acee;
}
ul.social-buttons li a.twitter:hover {
	border: 2px solid #55acee;
	color: #fff;
	background-color: #55acee ;
}
ul.social-buttons li a.facebook {
	border: 2px solid #3b5998;
	color: #3b5998;
}
ul.social-buttons li a.facebook:hover {
	border: 2px solid #3b5998;
	color: #fff;
	background-color: #3b5998 ;
}

ul.social-buttons li a.instagram {
	border: 2px solid #ff7f45;
	color: #ff7f45;
}
ul.social-buttons li a.instagram:hover {
	border: 2px solid #ff7f45;
	color: #fff;
	background-color: #ff7f45 ;
}

ul.social-buttons li a.linkedin {
	border: 2px solid #0976b4;
	color: #0976b4;
}
ul.social-buttons li a.linkedin:hover {
	border: 2px solid #0976b4;
	color: #fff;
	background-color: #0976b4 ;
}
ul.social-buttons li a.github {
	border: 2px solid #000;
	color: #000;
}
ul.social-buttons li a.github:hover {
	border: 2px solid #000;
	color: #fff;
	background-color: #000 ;
}

ul.social-buttons li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 0%;
	font-size: 1em;
	line-height: 36px;
	outline: 0;
	background-color: rgba(71,69,80,0);
	transition: all .3s;
}

.list-inline>li {
	display: inline-block;
	padding: 0rem 0.35rem 0rem 0.35rem;
}

#h6em {
	height: 6em;
}

p .text-slider-items {
	display: none;
}
