html,body {
	height: 100% !important;
}

/* --- Modifier le style de la barre de défilement --- */
::-webkit-scrollbar
{
	width: 10px;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgb(248,249,250);
}
::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1);
	background-color:  rgba(197,197,197,0.5)
}



/* --- Style général pour toutes les pages --- */

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

a {
	text-decoration: none;
}

footer {
	height: 6em;
}


.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.display-none{
	display: none;
}

.col-lg-6 {
	padding: 0rem;
}


/* --- Footer --- */


ul.social-buttons {
	float: right;
	margin-bottom: 0;
	text-align: center;
}

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

ul.social-buttons li a.twitter {
	border: 2px solid #55acee;
	color: #55acee;
}
ul.social-buttons li a.twitter:hover {
	border: 2px solid #55acee;
	color: #fff;
	background-color: #55acee ;
}
ul.social-buttons li a.facebook {
	border: 2px solid #3b5998;
	color: #3b5998;
}
ul.social-buttons li a.facebook:hover {
	border: 2px solid #3b5998;
	color: #fff;
	background-color: #3b5998 ;
}

ul.social-buttons li a.instagram {
	border: 2px solid #ff7f45;
	color: #ff7f45;
}
ul.social-buttons li a.instagram:hover {
	border: 2px solid #ff7f45;
	color: #fff;
	background-color: #ff7f45 ;
}

ul.social-buttons li a.linkedin {
	border: 2px solid #0976b4;
	color: #0976b4;
}
ul.social-buttons li a.linkedin:hover {
	border: 2px solid #0976b4;
	color: #fff;
	background-color: #0976b4 ;
}
ul.social-buttons li a.github {
	border: 2px solid #000;
	color: #000;
}
ul.social-buttons li a.github:hover {
	border: 2px solid #000;
	color: #fff;
	background-color: #000 ;
}

ul.social-buttons li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 0%;
	font-size: 1em;
	line-height: 36px;
	outline: 0;
	background-color: rgba(71,69,80,0);
	transition: all .3s;
}

.list-inline>li {
	display: inline-block;
	padding: 0rem 0.35rem 0rem 0.35rem;
}



/* --- Preloader --- */


#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #343a40;
	z-index: 1000;
	-webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(0);  /* IE 9 */
	transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}


.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);

	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);

	-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
	transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper {
	visibility: hidden;

	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);

	-webkit-transition: all 0.3s 1s ease-out;
	transition: all 0.3s 1s ease-out;
}


/* JavaScript Turned Off */
.no-js #loader-wrapper {
	display: none;
}


/* --- Scroll to top  button --- */

.scroll-to-top {
	position: fixed;
	right: 15px;
	bottom: 15px;
	display: none;
	width: 50px;
	height: 50px;
	text-align: center;
	color: white;
	background: rgba(52, 58, 64, 0.5);
	line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
	color: white;
}

.scroll-to-top:hover {
	background: #343a40;
}

.scroll-to-top i {
	font-weight: 800;
}


/* --- Classes showcase pour toutes les pages --- */


.showcase {
	margin-top: 6rem;
}
.showcase .showcase-text {
	padding: 3rem;
}


@media (min-width: 768px) {
	.showcase .showcase-text {
		padding: 5rem;
	}
}

