* {

  font-size: 1em;
  color: black;
  font-family: 'Roboto', sans-serif;

}

h2 {

  font-size: 2em;
  text-align: center;

}


article {

  width: 100%;

}


label, select,textarea {
  margin-bottom: 1em;
}

:root {

  --border-radius-image :  0.25em;
  --taille-desc: 75%;
  --taille-bloc-BSI: 33em;

}