@keyframes load {

    0% { width: 0%;}
    100% { width: 60%;}

}

/* Déclaration des variables */

:root {

    --background: #333;
    --border-radius: 0.80em;
    --height-progress: 0.75em;
    --width-progress: 8em;
    --padding-progress: 0.125em;
    --box-shadow: black 0.25em 0.25em 0.25em;

    --background-after: repeating-linear-gradient(to bottom right, green, rgb(0, 255, 0));
    --width-after: 75%;
    --height-after: 100%;
    --border-radius-after: 0.5em;
}
/* PROGRESSBAR PERSONNALISEE*/

#progress-html {

    background: var(--background);
    border-radius: var(--border-radius);
    height: var(--height-progress);
    width: var(--width-progress);
    padding: var(--padding-progress);
    box-shadow: var(--box-shadow);
 
}
  
  /* AJOUT DE LA BARRE DE CHARGEMENT VERTE */
  
  #progress-html:after {
  
    content: '';
    display: block;
    box-shadow: var(--box-shadow);
    background: var(--background-after);
    width: var(--width-after);
    height: var(--height-after);
    border-radius: var(--border-radius-after);
}


#progress-css {

    background: var(--background);
    border-radius: var(--border-radius);
    height: var(--height-progress);
    width: var(--width-progress);
    padding: var(--padding-progress);
    box-shadow: var(--box-shadow);
  
}
  
#progress-css:after {
  
    content: '';
    display: block;
    box-shadow: var(--box-shadow);
    background: var(--background-after);
    width: var(--width-after);
    height: var(--height-after);
    border-radius: var(--border-radius-after);
}

#progress-js {

    background: var(--background);
    border-radius: var(--border-radius);
    height: var(--height-progress);
    width: var(--width-progress);
    padding: var(--padding-progress);
    box-shadow: var(--box-shadow);
  
}

#progress-replace {

    background: var(--background);
    border-radius: var(--border-radius);
    height: var(--height-progress);
    width: var(--width-progress);
    padding: var(--padding-progress);
    box-shadow: var(--box-shadow);
  
}
#progress-replace:after {
  
    content: '';
    display: block;
    box-shadow: var(--box-shadow);
    background: var(--background-after);
    width: var(--width-after);
    height: var(--height-after);
    border-radius: var(--border-radius-after);
    animation: forwards 1s load;

}



#progress-php {

    background: var(--background);
    border-radius: var(--border-radius);
    height: var(--height-progress);
    width: var(--width-progress);
    padding: var(--padding-progress);
    box-shadow: var(--box-shadow);
  
}
  
#progress-php:after {
  
    content: '';
    display: block;
    box-shadow: var(--box-shadow);
    background: var(--background-after);
    width: var(--width-after);
    height: var(--height-after);
    border-radius: var(--border-radius-after);
}

#progress-sql {

    background: var(--background);
    border-radius: var(--border-radius);
    height: var(--height-progress);
    width: var(--width-progress);
    padding: var(--padding-progress);
    box-shadow: var(--box-shadow);
  
}
  
#progress-sql:after {
  
    content: '';
    display: block;
    box-shadow: var(--box-shadow);
    background: var(--background-after);
    width: var(--width-after);
    height: var(--height-after);
    border-radius: var(--border-radius-after);
}
#progress-python {

    background: var(--background);
    border-radius: var(--border-radius);
    height: var(--height-progress);
    width: var(--width-progress);
    padding: var(--padding-progress);
    box-shadow: var(--box-shadow);
  
}
  
#progress-python:after {
  
    content: '';
    display: block;
    box-shadow: var(--box-shadow);
    background: var(--background-after);
    width: var(--width-after);
    height: var(--height-after);
    border-radius: var(--border-radius-after);
}

#progress-c {

    background: var(--background);
    border-radius: var(--border-radius);
    height: var(--height-progress);
    width: var(--width-progress);
    padding: var(--padding-progress);
    box-shadow: var(--box-shadow);
  
}
  
#progress-c:after {
  
    content: '';
    display: block;
    box-shadow: var(--box-shadow);
    background: var(--background-after);
    width: var(--width-after);
    height: var(--height-after);
    border-radius: var(--border-radius-after);
}




/* Config pour tablette */

@media (max-width: 48em){
    :root {

        --background: #333;
        --border-radius: 0.80em;
        --height-progress: 0.75em;
        --width-progress: 5em;
        --padding-progress: 0.125em;
        --box-shadow: black 0.25em 0.25em 0.25em;
    
        --background-after: repeating-linear-gradient(to bottom right, green, rgb(0, 255, 0));
        --width-after: 75%;
        --height-after: 100%;
        --border-radius-after: 0.5em;
    }
}