* {

  font-size: 1em;
  color: black;
  font-family: 'Roboto', sans-serif;

}

h2 {

  font-size: 2em;
  text-align: center;

}


article {

  width: 100%;

}

@media (min-width:80em){

:root {

  --border-radius-image :  0.25em;
  --taille-desc: 75%;
  --taille-bloc-BSI: 33em;

}

/* ----------------------- */

#main-page {
    
  width: 80%;
  height: 70em;
  margin: 0rem auto;
  max-width: 71em;
  min-width: 33em ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 35rem;

}

.flex-row-around {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;    

}
.flex-row-between {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; 

}
#flex-row-around-no-strech {

  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.border {
  border: solid black 0.25em;
}



/* CLASSES RECURRENTES */

.logo-xp {
    
  width: 4.5em;

}

.alpha {

  padding: 1rem 0rem;
  height: 100%;
  background-color: rgba(255,255,255,0.4);

}

.margin {
    
  margin: 1rem;

}

.vertical-center-ajust {
    
  margin: 13.4rem 0rem 13.4rem 0rem;

}

.box {
        
  background-color: lightgray;
  width: 100%;
  min-height: 30em;
  box-shadow: black 0.125em 0.125em 0.5em;
  border-radius: 0.25em;
  margin-bottom: 5rem;
  position: relative;
  
}

.flex-row {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;    

}
.flex-column {
    
  display: flex;
  flex-direction: column;
  
}

.center {
    
  display: flex;
  justify-content: center;

}


/* BLOC PRESENTATION */

#icon-pdf {
    
  display: flex;
  width: 10%;
  text-align: center;
  min-width: 6.5em;
  background-color: white;
  border-radius: 1.5em;
  text-decoration: none;
  padding: 0.75rem;
  box-shadow: 0.125em 0.125em 0.5em black ;
  margin: 0rem auto;

}

#linkedin {

  display: flex;
  box-shadow: 0.125em 0.125em 0.5em black ;
  margin: 1rem;
  width: 3em;
  border-radius: 1em;  
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  margin: 0rem auto 3rem;

}

#linkedin:hover{

  width: 4em;
}

#logo-CA {
    
  max-height: 4.75em;
  margin: 0.5rem 0rem 0rem 1rem;
  position: absolute;
  right: 2em;
  top: 0em;
    
}

#head-title {
    
  font-weight: bold;
  font-family: serif;
  font-size: 2em;
  font-family: Dayrom, serif;
  display: flex;
  justify-content: center;
  text-align: center;

}

#profil {
    
  margin: 0rem auto;
  width: 6.25em;
  border: dashed black 0.125em;
  border-radius: 50%;
  padding: 0.0625rem;
  display: flex;
  justify-content: center;

}


/* Background id */

#back {

  background-image: url("images/back.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-image);

}

#back-learn {
    
  background-image: url("images/back-learn.jpg");
  background-repeat: no-repeat;
  height: 100%;
  border-top-right-radius: var(--border-radius-image);
  border-bottom-right-radius: var(--border-radius-image);

}

#back-xp {
    
  background-image: url("images/back-xp.jpg");
  background-repeat: no-repeat;
  height: 100%;
  border-top-right-radius: var(--border-radius-image);
  border-bottom-right-radius: var(--border-radius-image);


}

#back-skill {
    
  background-image: url("images/back-skill.jpg");
  background-repeat: no-repeat;
  height: 100%;
  border-top-left-radius: var(--border-radius-image);
  border-bottom-left-radius: var(--border-radius-image);

}


/* FOOTER */

#foot{

  position: fixed;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 1);
  min-height: 3em;
  width: 100%;
  z-index: 2;

}

#foot p {

  text-transform: uppercase;
  margin: 1rem 0rem 0rem 1rem;
  color: white;
    
}

#menu {

  
  height: 1.9em;
  width: 1.9em;
  position: absolute;
  right: 1.5em;
  top: 20%;
  background-image: url("images/menu.png");
}

#more {
  bottom: 0em;
  background-color: rgba(0, 0, 0, 0.98);
  min-height: 18em;
  width: 100%;
  display: none; /* Modification par JS du display pour faire apparaitre le menu */
  z-index: 1; /* Afficher la barre menu devant, block more en back */
  position: fixed;
  padding: 2rem;
}

#menu:hover{
  cursor: pointer;
}


.small-bold {

  font-size: 0.75em;
  font-weight: bold;
}

#more a, h3{
  color: white;
}

#more li {

  margin-bottom: 2rem;
  list-style-type: none;
  width : 100%;

}

#more a {
  text-decoration: none;

}
#more li:hover {
  text-decoration: underline;
}

#reseaux-photo {
  height: var(--taille-bloc-BSI);
  position: relative;
  margin-bottom: -0.25rem;

}
#reseaux-photo2 {
  height: var(--taille-bloc-BSI);
  position: relative;
  margin-bottom: -0.25rem;

}
#reseaux-photo3 {
  height: var(--taille-bloc-BSI);
  position: relative;
  margin-bottom: -0.25rem;  

}



#desc {
  position: absolute;
  bottom: 0.25em;
  width: 98%;
  height: var(--taille-desc);
  display: none;
  background-color: white;
  opacity:0.9;

}

#desc2 {
  position: absolute;
  bottom: 0.25em;
  width: 97%;
  height: var(--taille-desc);
  display: none;
  background-color: white;
  opacity:0.9;
}
#desc3 {
  position: absolute;
  bottom: 0.25em;
  width: 98%;
  height: var(--taille-desc);
  display: none;
  background-color: white;
  opacity:0.9;

}


.flex-column-relative {
    
  display: flex;
  flex-direction: column;
  position: relative;
  
}
}