  /* Balise universelle */
* {

    font-size: 1em;
    color: black;
    font-family: 'Roboto', sans-serif;
}

#main-page {
    
  width: 80%;
  height: 70em;
  margin: 0rem auto;
  max-width: 71em;
  min-width: 33em ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 35rem;

}

.box {
        
  background-color: lightgray;
  width: 100%;
  min-height: 30em;
  box-shadow: black 0.125em 0.125em 0.5em;
  border-radius: 0.25em;
  margin-bottom: 5rem;
  

}

#back {

  background-image: url("images/back.jpg");
}

.flex-row {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;    

}

.flex-column {
    
  display: flex;
  flex-direction: column;
  
}

.center {
    
  display: flex;
  justify-content: center;

}


article {
  width: 100%;
}


#profil {
    
  margin: 0rem auto;
  width: 6.25em;
  border: dashed black 0.125em;
  border-radius: 50%;
  padding: 0.0625rem;
  display: flex;
  justify-content: center;
}

#head-title {
    
  font-weight: bold;
  font-family: serif;
  font-size: 2em;
  font-family: Dayrom, serif;
  display: flex;
  justify-content: center;
  text-align: center;

  
}


#logo-CA {
    
  max-height: 4.75em;
  margin: 0.5rem 0rem 0rem 1rem;
  position: absolute;
  right: 2em;
  top: 0em;
  

}

